Убедитесь в том, что Python установлен на ПК!
Ссылочка на установку: https://www.python.org/!

!!! Если на ПК установлен антивирус, после прохождения любого уровня он будет ругаться на main.exe файл который пытается изменить файл data.txt (Этот файл сохраняет информацию о прогрессе в игре).

!!! Это нормально. Разрешите изменение и перезайдите в main.exe файл. После этого никаких проблем быть не должно.
При следующих запусках игры окно установки библиотек (InstallRequirements.bat) можно больше не открывать.